.privacy {
  p, h3 {
    margin: 24px 0;
  }

  ul, ol {
    padding-left: 24px;
    list-style-type: disc;

    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  ol {
    list-style-type: decimal;
  }
}